
body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

input, select, button {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
}
